body{
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    display: flex;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
}
.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    height: 7vh;
    position: fixed;
    justify-content: space-between;
}
.logo{
    padding: 0;
    padding-left: 1em;
    margin: 0;
    width: 60%;
    display: flex;
    justify-self: flex-start;
    flex-grow: 1;
    font-weight: 800;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
.navlist{
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 1.1em;
}
.navlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navlist li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navlink{
    color: white;
    padding: 2%;
}
.navlink:hover{
    background-color: skyblue;
    color: black;
    font-weight: 800;
}
.navlink {
    transition: background-color 0.5s, color 0.2s;
}

.main{
    padding: 0;
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* for Firefox */
    -ms-overflow-style: none; /* for IE and Edge */
}
.main::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#cont{
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}

.bod{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
    scroll-snap-align: start;
    overflow-y: hidden;
    scroll-snap-stop: always;
    scrollbar-width: none; /* for Firefox */
    -ms-overflow-style: none; /* for IE and Edge */
}

.inpagelink{
    color: aqua;
    transition: background-color 0.5s, color 0.2s;
}
.inpagelink:hover{
    color: orangered;
    background-color: skyblue;
    font-weight: 800;
}

.G{
    font-size: 3em;
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    padding: 0;
    margin: 0%;
}
#nameeng{
    font-size: 3em;
    color: orangered;
}
#greet{
    font-size: 3em;
    background: linear-gradient(to left, skyblue, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
#namejap, #namehin{
    font-size: 2em;
    color: skyblue;
}
.nameeng{
    font-size: 3em;
    color: orangered;
}
.namejap{
    padding-top: 1em;
    font-size: 2em;
    color: skyblue;
}
.greet{
    font-size: 3em;
}
.heroc{
    padding-top: 1em;
}
.sidenav{
    height: 100vh;
    width: 40%;
    flex-grow: 1;
    padding: 0%;
    margin: 0%;
    position: fixed;
    margin-left: 59%;
    margin-top: 40vh;
}
.sidenavitem{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    flex-grow: 1;
    padding-top: 7vh;
    align-items: end;
    gap: 1em;
}
.sidenavlink{
    color: white;
}
.sidenavitem a:target {
    background-color: #ccc;
    
}
.sidenavlink:hover{
    background-color: white;
    font-weight: 800;
    color: black;
}
.sidenavlink {
    transition: background-color 0.5s, color 0.2s;
}

.sidenavlink.active {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .sidenavlink.active:hover {
    background-color: #444;
    color: #fff;
  }
  .toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .toggle-btn span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.3s;
  }
  
  .toggle-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .toggle-btn.active span:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  #edu, #greetingssec{
    overflow-y: scroll;
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for IE and Edge */
  }